.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5rem;
}

.container img{
    padding: 1rem;
    max-width: 800px;
}

@media screen and (max-width: 800px) {
    .container > img{
        max-width: 100vw;
    }
}